services:
    _defaults:
        autowire: true
        autoconfigure: true

    OHMedia\MetaBundle\:
        resource: '../src/'
        exclude:
            - '../src/Entity/'
            - '../src/OHMediaMetaBundle.php'
